// @font-face {
//   font-family: 'Roobert';
//   src: url('https://fonts.cdnfonts.com/css/roobert');
//   font-display: swap;
// }

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --g1: #41b883;
  --g2: #35495e;
  --g3: #00DC82
}

body {
  font-family: 'Roobert', sans-serif !important;
  color: white !important;
  background-color: rgb(0, 0, 0);
  overflow-y: auto !important;
}


.color1 {
  background-color: tomato;
}
.color2 {
  background-color: green;
}
.color3 {
  background-color: orange;
}
.color4 {
  background-color: blueviolet;
}
.color5 {
  background-color: blue;
}
.color6 {
  background-color: yellow;
}
.color7 {
  background-color: red;
}
.color8 {
  background-color: cyan;
}
.color9 {
  background-color: firebrick;
}
.color10 {
  background-color: chocolate;
}

.vertical-text {
  z-index: 2;
  pointer-events: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  letter-spacing: 15px;
  user-select: none;
}
.is-typed {
  display: inline;
}

.is-typed span.cursor {
  display: inline-block;
  width: 10px;
  background-color: white;
  animation: blink 1s infinite;
}

.is-typed span.cursor.typing {
  animation: none;
}

@keyframes blink {
  49% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}


.lateral-text {
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -.013em;
  line-height: 105%;
  max-width: 18ch;
}

.button-read-more {
  padding: 0 23px;
  height: 40px;
  width: max-content;
  margin: 0 auto;
  line-height: 34px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  transition: .3s;
  color: #ffffff;

  &:hover {
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    transform: translateY(-5px);

    a {
      color: #fff;
    }
  }
}
